body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-image: url('../img/bright-light-dark-background.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 35px;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 25px;
    font-weight: 100;
    margin: 0;
}

header.full-height {
    height: 100vh;
    margin: 0;
}

.custom-row-1 {
    height: 50vh;
}

.custom-row-2 {
    height: 50vh; /* Adjust height as needed */
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    color: #fff;
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 20px 0;
}

.header-text {
    background-color: transparent;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.text-center {
    padding: 20px;
}

.header-content {
    height: 50vh;
}

.custom-hr {
    width: 195px;
    padding: 0;
}

.neon-hr {
    border: 0;
    border-top: 2px solid transparent;
    background: linear-gradient(45deg, #ff3399, #ff66cc, #ff3399);
    height: 1px;
    margin: 20px 0;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    margin-bottom: 10px;
}

.fa-envelope {
    font-size: 30px;
    font-weight: 100;
    margin-top: 20px;
    color: transparent;
    background: linear-gradient(45deg, #ff3399, #ff66cc, #ff3399);
    -webkit-background-clip: text;
    background-clip: text;
    transition: transform 0.3s ease;
}

.fa-envelope:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease;
}

.section1 {
    height: 50vh;
    max-width: none;
    background-color: transparent;
    color: #fff;
    margin: 0;
    padding: 0;
}

.section-text {
    font-style: italic;
    margin: 0;
}

.video-section {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.video-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
    box-sizing: border-box;
}

.video-md-screen {
    display: none;
}


@media (max-width: 767.98px) {
    .container {
        max-width: fit-content;
    }

    .col-md-6 {
        width: 100%;
        order: initial;
        padding: 0;
    }

    .custom-row-1 {
        height: 60vh;
    }

    .custom-row-2 {
        height: 40vh;
    }

    .col-md-6 img {
        height: 30vh;
        width: 100%;
        object-fit: cover;
    }

    .header-text {
        background-color: transparent;
        color: #fff;
        margin-top: 60px;
        height: 30vh; /* Ensure the column takes up the full height of its container */
    }

    .text-center {
        padding: 20px 40px;
    }

    .col {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .fa-envelope {
        font-size: 25px;
        margin-top: 0px;
    }

    main {
        height: 100vh;
        width: 100%;
    }

    .section-text {
        font-style: italic;
        margin: 0;
    }

    .video-lg-screen {
        display: none;
    }

    .video-md-screen {
        display: block;
        width: 100%;
        height: 100vh;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
    }

    .col-md-6 img {
        max-height: 50vh;
        width: 100%;
        object-fit: cover;
    }
}