body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-image: url('../img/bright-light-dark-background.jpg');
    background-size: cover;
    background-position: center;
    background-color: #000;
}

h1 {
    font-size: 35px;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 25px;
    font-weight: 100;
    margin: 0;
}

a {
    color: #fff;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: none;
    color: #ffffffc2;
}

header.full-height {
    height: 100vh;
    margin: 0;
}

.custom-row-1 {
    height: 50vh;
}

.custom-row-2 {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.custom-row-3 {
    height: 10vh;
}

.logotype {
    height: 50vh;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 0 0 10px 0;
}

.header-text {
    background-color: transparent;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.text-center {
    padding: 20px;
}

.header-content {
    height: 50vh;
}

.custom-hr {
    width: 195px;
    padding: 0;
}

.neon-hr {
    border: 0;
    border-top: 2px solid transparent;
    background: linear-gradient(45deg, #ff3399, #ff66cc, #ff3399);
    height: 1px;
    margin: 20px 0;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    margin-bottom: 10px;
}

.fa-envelope,
.fa-phone {
    font-size: 30px;
    margin-top: 20px;
    color: transparent;
    background: linear-gradient(45deg, #ff3399, #ff66cc, #ff3399);
    -webkit-background-clip: text;
    background-clip: text;
    transition: transform 0.3s ease;
}

.fa-envelope:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.fa-phone:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-down:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.scroll-down .fas {
    color: #000;
    font-size: 20px;
    padding: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff3399, #ff66cc, #ff3399);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 {
    height: 50vh;
    max-width: none;
    background-color: transparent;
    color: #fff;
    margin: 0;
    padding: 0;
}

.section-text {
    font-size: 20px;
    font-weight: 100;
    margin: 0;
}

.image-section {
    height: 100vh;
}

.overlay-website,
.overlay-webshop,
.overlay-bookingsystem {
    height: 100vh;
    width: 100%;
    background-color: transparent;
}

.background-website {
    position: relative;
    background-image: url('../img/digger.lg.png');
    height: 100vh;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.background-webshop {
    position: relative;
    background-image: url('../img/nercia.lg.png');
    height: 100vh;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.background-bookingsystem {
    position: relative;
    background-image: url('../img/pizzavagnen.lg.png');
    height: 100vh;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.overlay-text {
    color: #fff;
    padding: 50px;
    border: 2px solid;
    border-image: linear-gradient(45deg, #ff3399, #ff66cc, #ff3399) 1;
}

.blurry {
    filter: blur(10px);
    z-index: -1;
}

.error-message {
    color: #fff;
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


@media (max-width: 834px) {
    .col-md-6 {
        width: 100%;
        order: initial;
        padding: 0;
    }

    .custom-row-1 {
        height: 40vh;
        width: 100vw;
    }

    .custom-row-2 {
        width: 100vw;
    }

    .logotype {
        height: 40vh;
        object-fit: cover;
    }

    .header-text {
        background-color: transparent;
        color: #fff;
        height: 100%;
    }

    .text-center {
        padding: 0 20px;
    }

    .col {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .fa-envelope,
    .fa-phone {
        font-size: 25px;
        margin-top: 0px;
    }

    main {
        height: 100vh;
        width: 100%;
    }

    .section-text {
        margin: 0;
    }

    .background-website {
        background-image: url('../img/diggers.md.png');
    }


    .background-webshop {
        background-image: url('../img/nercia.md.png');
    }

    .background-bookingsystem {
        background-image: url('../img/pizzavagnen.md.png');
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
    }
}

@media (max-width: 430px) {
    .logotype  {
        height: 20vh;
        width: 100%;
        border-radius: 0;
    }

    .header-text {
        margin-top: 50px;
    }

    .section-text {
        font-weight: 300;
    }

    .custom-row-1 {
        height: auto;
    }

    .custom-row-2 {
        height: auto;
    }

    .background-website {
        background-image: url('../img/diggers.sm.png');
    }

    .background-webshop {
        background-image: url('../img/nercia.sm.png');
    }

    .background-bookingsystem {
        background-image: url('../img/pizzavagnen.sm.png');
    }

    .section-text {
        font-size: 14px;
    }

    .custom-hr {
        width: 300px;
    }

    .custom-table {
        text-align-last: justify;
    }

    .list-unstyled {
        column-count: 2;
        column-gap: 1em;
    }

    .display-sm {
        display: none;
    }
}

@media (orientation: landscape) {
    .container {
        display: none;
    }

    main {
        display: none;
    }
    
    .landscape-image {
        display: block;
    }
}